body {
  font-family: "微软雅黑", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  font: 10px;
  background: #f7fcf0;
}
label{
    padding: 0.2em 0.3em;
    display: inline-block;
    border: none;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
*custom
*/
.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
}
.tooltip-content{
    display: inline-block;
    float: left;
    width:auto !important;
    color: #f7fcf0;
    text-align: center;
}
.selectParam-legend{
  width: 90%;
  margin: 0px;
  text-align: right;
  font-size: 0.765em;
  line-height: 1.4;
}
.selectParam-legend a{
  float: left;
  margin: 0 1em;
}
.selectParam-legend span{
  float: right !important;
  display: block !important;
  width:1.4em !important;
  height:1.4em;
  border-radius: 2em;
}
.selectParam-legend .xiaoyouhui span{
  background: #CC7F9D;
}
.selectParam-legend .wushulianC span{
  background: #EEC6AD;
}
.selectParam-legend .wushulianS span{
  background: #76B0BB;
  margin-bottom: 1em;
}
.pure-menu ul {
    visibility: visible !important;
    left:0;
    top:0;
}
.pure-menu-list i, .pure-menu-list span{
  display: inline-block;
  width:100%;
  float:left;
  text-align: center;
}
.pure-menu-list a{
  color:#f7fcf0 !important;
}
.pure-menu-list a:hover{
  color:#f92572 !important;
}
.pure-menu-list span{
  font-size: 0.8em;
}
.pure-menu-list a{
  width:100%;
  display: block;
  float:left;
}
.pure-menu-list .pure-menu-item .tooltip-content .type-all{
   padding:0.5em 1em;
   margin: 0.5em;
   display: block;
    color: #3D4f5D;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #f7fcf0;
    text-align: center;
}
.content{
  max-width: 100% !important;
}
#main .content{
  text-align: left !important;
}
.menu-link span, .menu-link span:before, .menu-link span:after{
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.pure-menu-heading{
 /* width:100px;
  height:83px;
  display: block !important;
  background: url("../img/logo2.png") no-repeat !important;*/
  background: #666 !important;
  font-size: 1.4em !important;
}
/*.sidebar .nav .param{
    width:80%;
    margin-left: 10%;
    margin-bottom: 1em;
    padding:0.5em;
    border: 1px solid #f7fcf0;
    border-radius: 4px;
}
.sidebar .nav p{
    line-height: 2em;
    margin: 0 0 0.5em 0;
    border-bottom: 1px solid #f7fcf0;
}*/


/*
*rank
*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

/*
*treemap
*/
.chart {
  display: block;
  margin: auto;
  margin-top: 40px;
}

text {
  font-size: 10px;
}

rect {
  fill: none;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
.selectBoard{
  margin:1em;
}

/*
*geomap
*/